* {
  font-family: Roboto;
}

.body {
  text-align: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New";
}

body {
  width: 80vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}

button {
  background-color: rgb(246, 246, 246);
  padding: 1.5vh;
  font-size: medium;
  border: solid rgb(216, 216, 216) 4px;
}

.link {
  color: rgb(91, 91, 91);
}

.map {
  height: 80%;
  margin: 0 1vw;
  border: solid rgb(216, 216, 216) 4px;
}

.story-container {
  display: flex;
  height: 400px;
  margin: 2vh;
  flex-direction: row;
  align-items: start;
}

.story-content {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 30vw;
  border: solid rgb(216, 216, 216) 4px;
}

.headline {
  display: flex;
  text-align: left;
  background-color: rgb(237, 237, 237);
  padding: 1vw;
  font-weight: bold;
}

.story {
  padding: 1vw;
  text-align: left;
}

.story-box {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 30vw;
  border: solid rgb(216, 216, 216) 4px;
}

input {
  width: 30vw;
  border: solid rgb(216, 216, 216) 4px;
  margin: 20px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  background-color: rgb(234, 234, 234);
}

.nav-img-container {
  text-align: left;
}

.nav-txt-container {
  display: flex;
  text-align: right;
}

.nav-img {
  height: 5vw;
  border-radius: 50%;
  border: solid rgb(108, 108, 108) 6px;
  margin: 1vh;
  max-height: 50px;
}

.nav-text {
  display: flex;
  align-items: center;
  padding: 8px;
  color: black;
}

.footer {
  font-weight: bold;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

body {
  width: 80vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}
