* {
  font-family: Roboto;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.logo {
  border-radius: 50%;
  border: solid rgb(216, 216, 216) 6px;
  margin: 2vh 0 0 0;
}
